*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipch
*.sdf
*.ilk
*.pdb
*.opensdf
*.ilk
*.pdb
*.log
Labs/Debug/Lesson_1.ilk
Labs/Debug/Lesson_1.pdb
Labs/Debug/Lesson_2.ilk
Labs/Debug/Lesson_2.pdb
Labs/Labs.v12.suo
Labs/Lesson_1/Debug/Lesson_1.log
Labs/Lesson_1/Debug/Lesson_1.tlog/CL.read.1.tlog
Labs/Lesson_1/Debug/vc120.idb
Labs/Lesson_2/Debug/Lesson_2.log
Labs/Lesson_1/Debug/Lesson_1.log
Labs/Lesson_2/Debug/Lesson_2.log
Labs/Labs.v12.suo
Labs/Lesson_1/Debug/Lesson_1.log
Labs/Lesson_2/Debug/Lesson_2.log
Labs/Lesson_1/Debug/Lesson_1.log
Labs/Lesson_1/Debug/Lesson_1.tlog/CL.read.1.tlog
Labs/Lesson_1/Debug/Lesson_1.tlog/link.read.1.tlog
Labs/Lesson_1/Debug/vc120.idb
Labs/Lesson_1/Debug/vc120.pdb
Labs/Lesson_2/Debug/Lesson_2.log
Labs/Lesson_2/Debug/Lesson_2.tlog/CL.read.1.tlog
Labs/Lesson_2/Debug/Lesson_2.tlog/link.read.1.tlog
Labs/Lesson_2/Debug/vc120.idb
Labs/Lesson_2/Debug/vc120.pdb
