*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipch
*.sdf
*.ilk
*.pdb
*.opensdf
*.ilk
*.pdb
*.log
*.suo

Labs/Debug/*
Labs/Lesson_1/Debug/*
Labs/Lesson_2/Debug/*
Labs/Lesson_3/Debug/*
Labs/Lesson 4/Debug/*
Labs/Lesson_5/Debug/*
Labs/Lesson_6/Debug/*
Labs/Lesson_7/Debug/*
Labs/Lesson_8/Debug/*
Labs/Lesson_9/Debug/*
Labs/Lesson_10/Debug/*
Labs/Lesson_11/Debug/*